/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* BODY */
body{
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background: #020617;
    color: #e2e8f0;
    line-height: 1.7;
}

/* HEADER */
header{
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(to bottom, #020617, #0f172a);
}

header h1{
    font-size: 48px;
    color: #38bdf8;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

header p{
    font-size: 18px;
    color: #94a3b8;
}

/* SECTIONS */
section{
    max-width: 1000px;
    margin: 60px auto;
    padding: 0 20px;
}

/* SECTION TITLES */
h2{
    font-size: 26px;
    color: #38bdf8;
    margin-bottom: 20px;
    /* border-left: 4px solid #38bdf8; */
    padding-left: 10px;
}

/* TEXT */
p{
    font-size: 16px;
    color: #cbd5f5;
}

/* SKILLS LIST */
ul{
    list-style: none;
    margin-top: 20px;
}

li{
    background: #0f172a;
    margin-bottom: 12px;
    padding: 14px 16px;
    border-radius: 8px;
    border: 1px solid #1e293b;
    transition: 0.3s;
}

li:hover{
    background: #1e293b;
    transform: translateX(5px);
}

/* LINKS */
a{
    color: #38bdf8;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}

/* PROJECTS SECTION */
section ul li a{
    display: block;
}

/* TABLE (for reports) */
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td{
    border: 1px solid #1e293b;
    padding: 12px;
    text-align: left;
}

th{
    background: #0f172a;
    color: #38bdf8;
}

/* CODE BLOCK */
pre{
    background: #000814;
    padding: 15px;
    border-radius: 8px;
    overflow-x: auto;
    color: #38bdf8;
}

/* IMAGES */
img{
    margin-top: 20px;
    border-radius: 10px;
    max-width: 100%;
    border: 1px solid #1e293b;
}

/* CONTACT */
section:last-child{
    text-align: center;
    padding-bottom: 60px;
}
